*{
    box-sizing: border-box;
}

body {
    background-color: rgb(32, 32, 33);
    margin: 0px;
}

a, ul, ol, li {
    list-style-type: none;
    text-decoration: none;
    color: white;
    padding: 0px;
}

/*Condiciones del header*/
.header {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    border: 3px solid rgba(57, 8, 103, 0.762);
}

.logo{
    width: 33%;
}

.imgHeader {
    width: 150px;
    margin: 2%;
}

.navListHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
}

.ulNav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0%;
}

.liNav {
    display: flex;
    height: auto;
    padding: 10% 15%;
    margin: 10% 15%
}

footer{
    background-color: black;
}

.lista-footer{
    display:flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    padding: 2%;
    color: white;
    font-size: medium;
    border: 3px solid rgba(57, 8, 103, 0.762);
}

.nombres{
    width: fit-content;
    border: 0px;
    margin: 0px 20px;
}

/* Otras propiedades */
.generos{
    color: white;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.lista-g{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0px;
    width: fit-content;
}
   

.lista-generos{
    display: flex;
    background-color: black;
    border: 1px solid rgba(57, 8, 103, 0.762);
    padding: 3%;
    width: 40%;
    margin: 1%;
    flex-direction: row;
    justify-content: center;
}

/* Propiedades para dispositivo móvil*/

@media(max-width: 420px){
    .header{
        flex-direction: column;
    }

    .logo{
        width: fit-content;
    }

    .lista-footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nombres{
        padding-bottom: 5px;
        width: fit-content;
    }
}
    
