*{
    box-sizing: border-box;
}

body {
    background-color: rgb(32, 32, 33);
    margin: 0px;
}

a, ul, ol, li {
    list-style-type: none;
    text-decoration: none;
    color: white;
    padding: 0px;
}

/*Condiciones del header*/
.header {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    border: 3px solid rgba(57, 8, 103, 0.762);
    margin: 16px 0px;
}

.logo{
    width: 33%;
}

.imgHeader {
    width: 150px;
    margin: 2%;
}

.navListHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
}

.ulNav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0%;
    margin: 0px;
}

.liNav {
    display: flex;
    height: auto;
    padding: 10% 15%;
    margin: 5% 15%
}

/*Condiciones del footer*/
footer{
    background-color: black;
}

.lista-footer{
    display:flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    padding: 1%;
    color: white;
    font-size: medium;
    border: 3px solid rgba(57, 8, 103, 0.762);
}

.nombres{
    width: fit-content;
    border: 0px;
    margin: 0px 20px;
}


/*Condiciones para main de pelicula.html*/
h1, h2, h3 {
    font-weight: 200;
}
.sectionPeli { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.imgPelicula {
    margin: 4px;
    width: 30%;
}

.ulPeli {
    width: 69%;
    margin: 0%;
    padding: 0% 2%;
}
.h1Barbie {
    display: flex;
    color: #e73ac8;
    flex-direction: column;
    justify-content: flex-start;
    margin: 2% 0% 0%;
    font-size: 205%;

}

.h2Barbie {
    display: flex;
    color: aliceblue;
    flex-direction: row;
    font-size: 124%;
    margin: 0%;
    align-items: center;
}

.liPelicula {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.imgEstrella {
    width: 4%;
}

.ulBarbie {
    display: flex;
    flex-direction: row;
}

.ulgeneroB{
    display: flex;
}

.generoB {
    padding: 1%;
}

/*Fin de peliculas*/



/* Propiedades de generos.html */
.generos{
    color: white;
    display: flex;
    flex-direction: column;
    margin: 1%;
}

.generos-titulo{
    margin: 0px;
}

.lista-g{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.lista-generos{
    display: flex;
    margin: 1%;
    background-color: black;
    border: 2px solid rgba(57, 8, 103, 0.762);
    padding: 2%;
    justify-content: center;
    width: 30%;
}

/*Propiedades detalle genero */
.genero{
    color: white;
    display: flex;
    flex-direction: column;
    margin: 1%;
}

.genero-titulo{
    color: white;
    display: flex;
    background-color: black;
    border: 2px solid rgba(57, 8, 103, 0.762);
    margin: 2%;
    justify-content: center;
}

.listado-genero{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.lista-genero{
    margin: 0% 1%;
    width: 23%;
}

.art-genero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #666;
    border: 2px solid rgba(57, 8, 103, 0.762);
}

.img-genero{
    width: 90%;
    padding-top: 5%;
}

/*Main de index*/
.sec-home h2{
    color: white;
    margin-bottom: 0;
    margin-left: 1.9%;
}
.sec-lista-art a{
    width: 30%;
}
.sec-lista-art{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;  
    justify-content: space-around;
    width: 100%;
}
.art-home{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #666;
    border: 3px solid rgb(57 8 103 / 42%);
    height: 80vh;
    margin: 2% 0 2% 0;
}
.art-home img{
height: 68vh;
width: 90%;
align-self: center;
justify-content: center;
}
.art-home h3{
    color: white;
}
/* hasta aca*/

/* Propiedades para dispositivo móvil*/

@media(max-width: 420px) {
    /*Header*/
    .header{
        flex-direction: column;
        margin: 0%;
    }

    .logo{
        width: fit-content;
    }
    /*Footer*/
    .lista-footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nombres{
        padding-bottom: 5px;
        width: fit-content;
    }
    /*Main del index*/
    .sec-home a{
        width: 100%;
    }
    .sec-home h2{
        font-size: xx-large;
    }
    .sec-home h3{
        font-size: xx-large;
        margin: 4% 4% 0 4%;
    }
    .art-home{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #666;
        border: 3px solid rgb(57 8 103 / 42%);
        height: 80vh;
        margin: 2% 0 2% 0;
    }
    /*hasta aca*/

    /*Generos*/
    .lista-g{
        flex-direction: column;
    }

    .lista-generos{
        width: 95%;
    }

    /* Detalle-genero*/
    .listado-genero{
        justify-content: center;
        margin: 0%;
    }

    .lista-genero{
        width: 90%;
        margin: 4%;
    }

    /*Pelicula*/
    .ulPeli {
        width: fit-content;
    }
}